h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-shadow: 3px 3px 3px #ababab;
    font-size: 34px;
    overflow: hidden;
}
#clockContainer{
    position: relative;
    margin: auto;
    width: 40vw;
    height: 40vw;
    background-image: url("kisspng-clock-face-digital-clock-time-clip-art-clock-5acd5bdf752124.7453378015234078394798.png");
    background-size: 100%;
}
#hour, #minute, #second{
    position: absolute;
    border-radius: 14px;
    transform-origin: bottom;
    background-color: black;
    box-shadow: 2px 2px 2px #ababab;
}
#circle{
    width: 2vw;
    height: 2vw;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}
#hour{
    width: 1.5%;
    height: 28%;
    top: 23%;
    left: 49.2%;
}
#minute{
    width: 1.5%;
    height: 34.5%;
    top: 15.5%;
    left: 49.3%;
}
#second{
    background-color: red;
    width: 1.5%;
    height: 40.5%;
    top: 10.5%;
    left: 49.25%;
}